.scoreBoard {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #ffffee;
}

.scoreTile {
    background-color: #c1cc99;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.scoreCount {
    font-size: 2rem;
}
