.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.list-entry {
  background-color: var(--lightGreen);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
}

.list-entry :hover {
  cursor: pointer;
}

.active-element {
  outline: 5px solid var(--darkGreen);
}

.shape-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  background-color: var(--lightGreen);
}

.shape {
  padding: 5px;
  background-color: var(--offWhite);
  fill: var(--lightGreen);
  border-radius: 10px;
  cursor: pointer;
}

.skin-content {
  margin: 0 10px;
}

.arrow-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
  width: 1em;
  height: 1em;
}

.color-preview {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  outline: 2px solid var(--offWhite);
  border-radius: 1px;
}
