.list {
  list-style: none;
  padding: 1rem 0;
  margin: 0 auto;
  width: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listEntry {
  background-color: var(--lightGreen);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
}

.activeWrapper {
  outline: 5px solid var(--darkGreen);
}

.listEntry :hover {
  cursor: pointer;
}

.shapeWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  background-color: var(--lightGreen);
}

.shape {
  padding: 5px;
  background-color: var(--offWhite);
  fill: var(--lightGreen);
  border-radius: 10px;
  cursor: pointer;
}

.skinContent {
  margin: 0 10px;
}

.leftArrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
  width: 1em;
  height: 1em;
}

.colorIndicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  outline: 2px solid var(--offWhite);
  border-radius: 1px;
}
