#gameBoard{
    width: 512px;
    height: 512px;
    display: grid;
}

.snake{
    background-color: #fff;
    border-radius: 50%;
    opacity: 20%;
}

.food{
    background-color: #fff;
    border-radius: 50%;
    opacity: 10%;
}