body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #133;
}

#gameBoard{
    background-color: #000;
    width: 512px;
    height: 512px;
    display: grid;
}

.snake{
    background-color: #fff;
    border-radius: 50%;
    opacity: 20%;
}

.food{
    background-color: #fff;
    border-radius: 50%;
    opacity: 10%;
}