#gameBoard{
    position:absolute;
    display: grid;
    z-index: 10;
    pointer-events: none;
}

.snake{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 20%;
}

.food{
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 10%;
}